{% extends "layout.html" %}
{% block content %}
<div class="container text-center">
    <h2>Question #10</h2>
    <hr>
    <h4>Memorize this color.</h4>
    <p class="text-muted">On the next page, recreate it using the sliders.</p>

    <div
        class="mx-auto my-4 border rounded"
        style="width: 260px; height: 260px; background: hsl({{ target_color.hue }}, {{ target_color.saturation }}%, {{ target_color.lightness }}%);">
    </div>

    <a href="/quiz/10/match" class="btn btn-primary">Next</a>
</div>
{% endblock %}