{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Question #{{ quiz.id }}</h2>
    <hr>
    <div class="quiz-box">
        <h4>{{ quiz.question }}</h4>
        <div class="options mt-3">
            {% for option in quiz.options %}
                <button class="btn btn-outline-primary d-block w-100 mb-2 option-btn" data-answer="{{ quiz.answer }}">{{ option }}</button>
            {% endfor %}
        </div>
    </div>

    <div class="mt-4">
        <a href="{{ url_for('quiz_main') }}" class="btn btn-outline-secondary">To List of questions</a>
        
        {% if quiz.id < 11 %}
            <a href="{{ url_for('question', question_num=quiz.id + 1) }}" class="btn btn-primary">Next</a>
        {% else %}
            <a href="{{ url_for('quiz_results') }}" class="btn btn-success">Finish</a>
        {% endif %}
    </div>
</div>
{% endblock %}