{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Quiz</h2>
    <hr>
    {% for q in quizzes %}
        <a href="{{ url_for('question', question_num=q.id) }}" class="btn btn-outline-primary d-block mb-2">
            Question {{ q.id }}: {{ q.question }}
        </a>
    {% endfor %}

    <a href="/quiz/10" class="btn btn-outline-primary d-block mb-2">
        Question 10: Match the color from memory
    </a>

    <hr>
    <div class="mt-4 text-center">
        <button id="retake-btn" class="btn btn-danger">Reset All Progress</button>
    </div>
</div>
{% endblock %}